/* Defines styles for a web book

   Martin Otter, Oct. 17, 2015
   
   Using Google fonts:
   
   @import url('http://fonts.googleapis.com/css?family=Open+Sans');
   font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif
*/



body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
  margin-left: 60px;
  margin-right: 10px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  line-height: 1.1;
  color: inherit;
}

h1 { font-size:180%; margin:40px 0 14px 0; font-weight: bold;}
h2 { font-size:140%; margin:22px 0 14px 0; font-weight: bold;}
h3 { font-size:120%; margin:20px 0 14px 0; font-weight: bold;}
h4 { font-size:100%; margin:18px 0 14px 0; font-weight: normal;}
h5 { font-size:100%; margin:18px 0 14px 0; font-weight: normal;}
h6 { font-size:100%; margin:18px 0 14px 0; font-weight: normal;}

p         { margin: 14px 0 14px 0; text-align: justify;}
ul, ol    { margin: 14px 0 10px -10px; }
li        { margin: 7px 0 10px 0px; text-align: justify;}
.small    { font-size: 80%; color: Gray; }
.trHead   { font-size: 80%; color: black }
.centered { text-align: center; }
.indent   { margin-left: 40px; }
.headline {text-align:center; font-size: 90%; color: #333; border-bottom: 1px solid grey;}
.bigSkip  {margin-top: 35px;}
.box      {margin: 14px 0 14px 40px; padding: 2px 4px 2px 4px; border: 2px solid; display: table;}


td, th { border: 1px solid rgb(220, 220, 220); vertical-align: top; padding: 4px; 
         font-size: 90%; line-height: 1.2;}
th     { text-align: left; font-weight: normal; font-style: italic; }
table  { margin: 14px 0 14px 40px; border: 0px solid rgb(220, 220, 220); 
         border-collapse: collapse; page-break-inside: avoid; }
table.noBorder td {border: 0px}

pre, code, td.Modelica, td.Box, code.Modelica, code.ModelicaDeclaration, span.pkeyword {
  font-family: "Courier New", monospace;
  font-size: 16px;   
  line-height: 1.1;  
}

pre {
  white-space: pre;
  margin     : 14px 0 14px 40px;
  overflow-x : hidden;
  page-break-inside: avoid;     
}

td.Modelica, td.Box {
  white-space: pre;
  margin     : 14px 0 14px 40px;
  overflow-x : hidden;
  background: rgb(253, 253, 253);
}

pre.ModelicaNoBox {
  white-space: pre;
  margin     : 0;  
  overflow   : hidden;
}

math {
  text-align:left;
  font-size: 1.3rem;  
  line-height: 1.0;  
}

math[display="block"] mfrac>* {font-size: 100%;} 
/* math mtable>* {line-height: 1.5;} */

div.equation  {
   margin: 14px 0 14px 40px;
}


span.keyword, span.component, span.string, span.comment{
  font-family: "Courier New", monospace;
  font-size  : 100%;
}

span.keyword  {color: blue; font-weight: bold;}
span.component{color: red;}
span.string   {color: rgb(0,128,0);}
span.comment  {color: rgb(0,128,0);}
span.notReady {color: rgb(180, 180, 180);} 


caption {
  text-align   : left;
  margin-left  : -20px;
  margin-bottom: 5px;
  font-size    : 90%;
  font-style   : italic;
  page-break-after: avoid;   
}

figure     { margin: 14px 0 14px 40px; }
figcaption {
  margin-left  : -20px;
  margin-bottom: 5px;
  font-size    : 90%;
  font-style   : italic;
}

nav {
  top: 0;
  left: 0;
  width: 150px;
  position: fixed;   
  font-size: 90%;   
  margin: 0;  
  padding: 0;
  padding-top: 10px;
  padding-bottom: 120%;  
  border-right: 1px solid grey;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  overflow-x : hidden;   
}

nav ul li {
  display: block;
  margin: 0;
  line-height: 1.5em;  
  white-space: nowrap; 
}

nav ul li a {
  display: block;
  margin: 0;
  padding: 0;
  padding-left: 5px;
  color: black;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: lightgrey;
  text-decoration: none;  
}

nav ul li a.start  {margin-top: 20px; }
nav ul li a.actual {background-color: lightgrey;}


/* Bibliography */
ul.references {
  list-style: none;
}
ul.references li {
  padding-left: 30px;
  text-indent: -30px;
}

/* Hightlight the "#" target of a link */
:target  {
   border: 0px solid rgb(220, 220, 220);
   background-color: rgb(240, 240, 240);
}

/* Show underline in links only when hovering above it */
a      {text-decoration: none; color: blue;}
a:hover{text-decoration: underline;}

/* Links with the title attribute are displayed in italic */
a[title] {font-style: italic;}
  
.special {
    color: red;
}  


/* Styles when printing the page */
.page-break { display: none; }

@media print {
   body {
     font-family: Calibri, Arial, sans-serif;
     font-size: 10pt;
     line-height: 1.3;
     color: #000;
     background: none;
     margin-left: 10px;
     margin-right: 10px;      
   }
   
   h1 { font-size:14pt; page-break-after: avoid; page-break-before: always;}
   h2 { font-size:12pt; page-break-after: avoid;}
   h3 { font-size:11pt; page-break-after: avoid;}
   h4 { font-size:10pt; page-break-after: avoid;}
   h5 { font-size:10pt; page-break-after: avoid;}
   h6 { font-size:10pt; page-break-after: avoid;}
   h1.NoPageBreak {page-break-before: avoid;}

   table, figure, pre, .box {page-break-inside: avoid;}
   caption, figcaption {page-break-after: avoid;}
         
   img { max-width: 100%;
         page-break-inside: avoid;  
         page-break-before: avoid;  
   }
         
   pre, code, td.Modelica, td.Box, code.Modelica, code.ModelicaDeclaration, span.pkeyword {
     font-size: 9pt;    
   }   
   
   math {
     font-size: 10pt;  
   }   
   
   nav {
     display: none;
   }
   
   .headline {display: none;}   
   
   .page-break { display: block; page-break-before: always;}

   /* Print URL, if href starts with "http" */
   a[href^="http"]:after{content:" (" attr(href) ") ";font-size:0.8em;font-weight:normal;}
}

